.login__bg{
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: opacity(0.4) blur(10px);
}

.login__wrapper { 
	height: 100vh;
	width: 100%;

	justify-content: center;
	align-items: center;
}


.template__wrapper {
	/* width: 345px; */
}

.login__form{
	flex-direction: column;
	gap: 7px;
}

.login__title {
	font-size: 1.5rem;
	font-weight: var(--font-bold);
	color: var(--color-text);
	margin: 0 0 2rem 0;
	text-align: center;
}

.login__label {
	flex-direction: column;

}

.login__input{
	width: 345px;
}

.login_err{
	min-height: 14px;
	font-size: 12px;
	color: hsla(0, 84%, 51%, 1);
}